[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(skyblue 40%, powderblue 70%, seashell);
}

button {
  margin: .75rem;
}

button:nth-child(1) {
  background-color: #ee6a6a;
  color: white;
}

button:nth-child(1):hover {
  background-color: #ff5555;
}

p {
  margin: 1rem 0;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-color: #6f6f6f;
  border-radius: 10px;
  padding: 4px 8px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  margin: 3.5rem 0 0 4rem;
  font-size: 1.5rem;
  position: relative;
}

.header::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: white;
  left: 5px;
  content: '';
  z-index: -1;
  top: .35rem;
}

.header::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: black;
  left: 10px;
  content: '';
  z-index: -2;
  top: .75rem;
}

.header > .header-title {
  font-size: 3rem;
}

#overview {
  color: gray;
  width: 60%;
  margin-left: 5rem;
  margin-top: 20%;
  font-size: 1.8rem;
  position: relative;
  -webkit-transition: left 300ms ease-in, max-height 300ms ease-in, -webkit-transform 300ms ease-in;
  transition: left 300ms ease-in, max-height 300ms ease-in, -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in, left 300ms ease-in, max-height 300ms ease-in;
  transition: transform 300ms ease-in, left 300ms ease-in, max-height 300ms ease-in, -webkit-transform 300ms ease-in;
}

.button {
  background-color: white;
  border-radius: 14px;
  padding: 5px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}

.button:hover,
.button:hover a {
  background-color: #666;
  color: white;
}

.block-swiper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 28vw;
  width: 100%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: opacity .6s ease, top 300ms ease-out, right 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity .6s ease, top 300ms ease-out, right 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity .6s ease, top 300ms ease-out, right 300ms ease-out, transform 300ms ease-out;
  transition: opacity .6s ease, top 300ms ease-out, right 300ms ease-out, transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.block-swiper.swiper-container-coverflow {
  padding-top: 2%;
}

.block-swiper.loading {
  opacity: 0;
  visibility: hidden;
}

.block-swiper:hover .swiper-button-prev,
.block-swiper:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  translate: 0 -10rem;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .title {
  position: absolute;
  bottom: 3.5%;
  left: 2.5%;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0px;
  background-color: rgba(120, 120, 120, 0.5);
  padding: 2.5px 10px;
  border-radius: 16px;
}

.block-swiper .swiper-slide::after {
  content: "";
  background-image: url("img/nav/mount.jpg");
  background-position: bottom;
  background-size: cover;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  width: inherit;
  height: 31%;
  position: absolute;
  bottom: -31%;
  opacity: .97;
}

.block-swiper .swiper-slide::before {
  z-index: 1;
  content: "";
  width: inherit;
  height: 31%;
  position: absolute;
  bottom: -31%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(#fff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
}

[class^="swiper-button-"] {
  translate: 0 -150px;
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  translate: 0 6px;
  background-color: #fff;
  opacity: .4;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0px solid #fff;
  border-radius: 50%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-width: 1px;
}

.swiper-cube-shadow {
  translate: 0 20px;
}

.swiper-help {
  color: gray;
  text-align: center;
  margin-top: 6.5rem;
  font-size: 1.3rem;
}

#page {
  top: 150%;
  -webkit-transition: top 300ms ease-in;
  transition: top 300ms ease-in;
  position: absolute;
  left: 5rem;
  right: 5rem;
  font-size: 1.5rem;
  color: darkslategray;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apps {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 175ms ease-out;
  transition: -webkit-transform 175ms ease-out;
  transition: transform 175ms ease-out;
  transition: transform 175ms ease-out, -webkit-transform 175ms ease-out;
}

.apps img {
  cursor: pointer;
  width: 35rem;
  height: 30rem;
  -webkit-transition: height 150ms ease-out, width 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: height 150ms ease-out, width 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, height 150ms ease-out, width 150ms ease-out;
  transition: transform 150ms ease-out, height 150ms ease-out, width 150ms ease-out, -webkit-transform 150ms ease-out;
}

.apps img:hover {
  height: 31rem;
  width: 36rem;
}

.apps:nth-child(1) img {
  -webkit-transform: rotateX(-25deg);
          transform: rotateX(-25deg);
}

.apps:nth-child(2) img {
  -webkit-transform: rotateY(25deg);
          transform: rotateY(25deg);
}

.apps label {
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
}

th, td {
  border: 2px solid black;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  white-space: break-spaces;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #f3f3f3;
}

tr:nth-child(1) {
  background-color: transparent;
}

.skills-list {
  table-layout: fixed;
  width: 30rem;
  border: none;
}

.skills-list th {
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  background-color: salmon;
}

.skills-list th:nth-child(1) {
  border-radius: 8px 0 0 0;
}

.skills-list th:nth-child(2) {
  border-radius: 0 8px 0 0;
}

.skills-list tr:last-child {
  border-bottom: 2px solid salmon;
}

.skill {
  display: 'flex';
}

.skill td {
  height: 5rem;
  overflow: hidden;
  border: none;
}

.skill td:nth-child(even) {
  border-left: 2px solid #ddd;
}

@media (max-width: 1180px) {
  .swiper-slide .title {
    font-size: 25px;
  }
  .swiper-slide .caption {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .block-swiper {
    height: 40vw;
  }
  .block-swiper.swiper-container-coverflow {
    padding-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */