%transition_all_03s {
    transition:all .3s ease;
}
%backface_visibility_hidden{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background-image: radial-gradient(#443844 40%, #554855 70%, #666666);
    background-image: radial-gradient(skyblue 40%, powderblue 70%, seashell);
    // background-image: radial-gradient(royalblue 40%, rgb(110,110,240) 70%, rgb(135,125,250));
}

button {
    margin: .75rem;
}

button:nth-child(1) {
    background-color: #ee6a6a;
    color: white;
}

button:nth-child(1):hover {
    background-color: #ff5555;
}

p {
    margin: 1rem 0;
}

.container {
    // height: 100vh;
    position: relative;
    display: flex;
}

.header {
    background-color: rgba(111,111,111, 1);
    border-radius: 10px;
    padding: 4px 8px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin: 3.5rem 0 0 4rem;
    font-size: 1.5rem;
    position: relative;
    // position: absolute;
    // top: 3.5rem;
    // left: 4rem;

    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: white;
        left: 5px;
        content: '';
        z-index: -1;
        top: .35rem;
    }

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: black;
        left: 10px;
        content: '';
        z-index: -2;
        top: .75rem;
    }

    >.header-title{
        font-size: 3rem;
    }
}

#overview {
    color: gray;
    width: 60%;
    margin-left: 5rem;
    margin-top: 20%;
    font-size: 1.8rem;
    position:relative;
    // text-align: justify;
    transition: transform 300ms ease-in, left 300ms ease-in, max-height 300ms ease-in;
}

.button {
    background-color: white;
    border-radius: 14px;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
}

.button:hover,
.button:hover a {
    background-color: #666;
    color: white;
}

.block-swiper {
    align-self: center;
    height: 28vw;
    width: 100%;
    transform-origin: top right;
    transition:opacity .6s ease, top 300ms ease-out, right 300ms ease-out, transform 300ms ease-out;
&.swiper-container-coverflow{
    padding-top:2%;
}
&.loading{
    opacity:0;
    visibility:hidden;
}
&:hover{
    .swiper-button-prev,
    .swiper-button-next{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
        }
    }
}

.swiper-slide{
background-position:center;
background-size:cover;
translate: 0 -10rem;

.entity-img{
    display:none;
}
.title{
    position:absolute;
    bottom: 3.5%;
    left: 2.5%;
    color:#fff;
    font-size:2em;
    font-weight:bold;
    margin-bottom:0px;
    background-color: rgba(120,120,120,.5);
    padding: 2.5px 10px;
    border-radius: 16px;
    }
}


.block-swiper .swiper-slide::after {
    content:"";
    background-image: url('img/nav/mount.jpg');
    background-position: bottom;
    background-size: cover;
    transform:  scaleY(-1);
    width: inherit;
    height:31%;
    position: absolute;
    bottom: -31%;
    opacity: .97;
}
.block-swiper .swiper-slide::before {
    z-index: 1;
    content:"";
    width: inherit;
    height:31%;
    position: absolute;
    bottom: -31%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
}

[class^="swiper-button-"]{
    translate: 0 -150px;
    width:44px;
    opacity:0;
    visibility:hidden;
    @extend %transition_all_03s;
}
.swiper-button-prev{
transform:translateX(50px);
}
.swiper-button-next{
    transform:translateX(-50px);
}
.swiper-container-horizontal{
    >.swiper-pagination-bullets{
        .swiper-pagination-bullet{
            margin:0 9px;
            position:relative;
            width:12px;
            height:12px;
            translate: 0 6px;
            background-color:#fff;
            opacity:.4;
            @extend %transition_all_03s;
            &::before{
                content:'';
                position:absolute;
                top:50%;
                left:50%;
                width:18px;
                height:18px;
                transform:translate(-50%, -50%);
                border:0px solid #fff;
                border-radius:50%;
                @extend %transition_all_03s;
            }
            &:hover,
            &.swiper-pagination-bullet-active{
                opacity:1;
            }
            &.swiper-pagination-bullet-active{
                &::before{
                    border-width:1px;
                }
            }
        }
    }
}
.swiper-cube-shadow {
    translate: 0 20px;
}

.swiper-help {
    color: gray;
    text-align: center;
    margin-top: 6.5rem;
    font-size: 1.3rem;
}

#page {
    top: 150%;
    transition: top 300ms ease-in;
    position: absolute;
    left: 5rem;
    right: 5rem;
    font-size: 1.5rem;
    // color: #222;
    color: darkslategray;
    visibility: hidden;
    display: flex;
}

.apps {
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 175ms ease-out;
}

.apps img {
    cursor: pointer;
    width: 35rem;
    height: 30rem;
    transition: transform 150ms ease-out, height 150ms ease-out, width 150ms ease-out;
}

.apps img:hover {
    height: 31rem;
    width: 36rem;
}

.apps:nth-child(1) img {
    transform: rotateX(-25deg);
}

.apps:nth-child(2) img {
    transform: rotateY(25deg);
}

.apps label {
    transition: opacity 200ms ease-in;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
}


th, td {
    border: 2px solid black;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    white-space: break-spaces;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:nth-child(1) {
    background-color: transparent;
}

// th {
//     background-color: #666;
//     font-weight: bold;
//     // border:none;
// }

.skills-list {
    table-layout: fixed;
    width: 30rem;
    border: none;
}

.skills-list th {
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.2rem;
    background-color: salmon;
}

.skills-list th:nth-child(1) {
    border-radius: 8px 0 0 0;
}

.skills-list th:nth-child(2) {
    border-radius: 0 8px 0 0;
}

.skills-list tr:last-child() {
    border-bottom: 2px solid salmon;
}

.skill {
    display: 'flex';
}

.skill td {
    height: 5rem;
    overflow: hidden;
    border: none;
}

.skill td:nth-child(even) {
    border-left: 2px solid #ddd;
}

// Mediaqueries
@media(max-width:1180px){
    .swiper-slide{
        .title{
            font-size:25px;
        }
        .caption{
            font-size:12px;
        }
    }
}

@media(max-width:1023px){
    .block-swiper {
        height:40vw;
        &.swiper-container-coverflow{
            padding-top:0;
        }
    }
}